{% extends 'base/base.html' %}

{% block title %}PowerZone - Головна сторінка{% endblock %}

{% block content %}
    <!-- Hero Section -->
    {% include 'core/sections/hero.html' %}

    <!-- Services Section -->
    {% include 'core/sections/services.html' %}

    <!-- Schedule Section -->
    {% include 'core/sections/schedule.html' %}

    <!-- Pricing Section -->
    {% include 'core/sections/pricing.html' %}

    <!-- About Section -->
    {% include 'core/sections/about.html' %}

    <!-- Reviews Section -->
    {% include 'core/sections/reviews.html' %}
{% endblock %}